<h2>Reactivos: <small>Básicos</small> </h2>
<hr>

<div class="row">
    <div class="row">

        <form (ngSubmit)="save()" autocomplete="off" [formGroup]="productForm">

            <div class="mb-3 row">
                <label class="col-sm-3 col-form-label">Producto</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" placeholder="Nombre del producto" formControlName="name">
                    <span class="form-text text-danger"
                            *ngIf="validateField('name')">
                            Debe de ser de 3 letras</span>
                </div>
            </div>

            <div class="mb-3 row">
                <label class="col-sm-3 col-form-label">Precio</label>
                <div class="col-sm-9">
                    <input type="number" class="form-control" placeholder="Precio del producto" formControlName="price">
                    <span class="form-text text-danger"
                            *ngIf="validateField('price')">
                            El precion debe ser mayor o igual a 0</span>
                </div>
            </div>

            <div class="mb-3 row">
                <label class="col-sm-3 col-form-label">Existencias</label>
                <div class="col-sm-9">
                    <input type="number" class="form-control" placeholder="Existencias del producto" formControlName="existences">
                    <span class="form-text text-danger"
                            *ngIf="validateField('existences')">
                            Las existencias debe ser mayor o igual a 0</span>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <button type="submit" class="btn btn-primary float-end"> Guardar </button>
                </div>
            </div>

        </form>
    </div>
</div>

<div class="row">
    <div class="col">
        <span> Valid </span>
        <pre>{{ productForm.valid }}</pre>

        <span> Pristine </span>
        <pre>{{ productForm.pristine }}</pre>

        <span> Touched </span>
        <pre>{{ productForm.touched }}</pre>

        <span> Value </span>
        <pre>{{ productForm.value | json }}</pre>
    </div>
</div>