<h2>Reactivos: <small> Dinámicos </small> </h2>
<hr>

<form autocomplete="off" [formGroup]="gameForm">

    <div class="mb-3 row">
        <label class="col-sm-3 col-form-label">Nombre</label>
        <div class="col-sm-9">
            <input class="form-control" placeholder="Nombre de la persona" formControlName="name">
            <span class="form-text text-danger"
                    *ngIf="validateField('name')"> Este campo es obligatorio</span>
        </div>
    </div>

    <div class="mb-3 row">
        <label class="col-sm-3 col-form-label">Agregar</label>

        <div class="col-sm-9">
            <div class="input-group">
                <input class="form-control" placeholder="Agregar favorito"
                        [formControl]="newGameFavorite" 
                        (keyup.enter)="addElement()">
                <button class="btn btn-outline-primary" type="button"
                        (click)="addElement()"> Agregar </button>
            </div>
        </div>
    </div>

    <div class="mb-3 row">
        <label class="col-sm-3 col-form-label">Favoritos</label>
        <div class="col-sm-9" formArrayName="gameFavorites">
            <div class="input-group mb-1" 
                *ngFor="let game of gameFavoritesArr.controls; let i = index">
                <input class="form-control" [formControlName]="i">
                <button class="btn btn-outline-danger" type="button"
                        (click)="deleteElement(i)"> Borrar </button>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <button type="submit" class="btn btn-primary float-end" (click)="save()">
                Guardar
            </button>
        </div>
    </div>
</form>


<span>Valid Form</span>
<pre>{{ gameForm.valid }}</pre>

<span>Value Form</span>
<pre>{{ gameForm.value | json}}</pre>

<span>Agregar Juego</span>
<pre>{{ newGameFavorite.valid }}</pre>
<pre>{{ newGameFavorite.value }}</pre>
